name: Release SDK

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest
          registry-url: https://registry.npmjs.org

      # npm 11.5.1 or later is required so update to latest to use OIDC trusted publisher
      # https://github.com/eslint/config-inspector/pull/174/files
      # https://github.com/e18e/ecosystem-issues/issues/201
      - run: npm install -g npm@latest

      - run: pnpm install --frozen-lockfile
      - working-directory: sdk/typescript
        run: pnpm -F unspeech build
      - run: pnpm publish -r --no-git-checks --access public
